/*-----------------Common Style-----------------*/

body{
    font-family: 'Poppins', sans-serif;
    }
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}  
    
/*----------------- style of top section ---------------*/
    
.top-container{
    width: 1440px;
    height: 677px;
    left: 0;
    top: 0;
    background-color: #2D25A0;
}

.half-of-top-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button a{
    color:white;
    text-decoration: none;
}
.top-container-title{
    width: 485px;
    height: 230px;
    left: 156px;
    margin-top: 200px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px ;
    color: #FFFFFF;
}
.button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    padding-top: 15px;
    padding-left: 40px;
    margin-top:40px;
    display: flex;
    
}
.fa-arrow-right{
    color:white;
    margin:5px;
}

.banner{
    padding-top: 153px;
}

.banner:hover{
    transform: rotate3d(5, 0, 5, 360deg);
    transition: transform 5s linear;
}
.banner img{
    width: 556.01px;
    height: 438px;
    }

    /*------------- style of second section ----------------*/

.second-container{
    margin-top: 50px;
    background-color: #FFFFFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    column-gap: 30px;
}

.player{
    width: 330px;
    height: 474px;
    padding:15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.player img{
    width:330px;
    height:256px;
}
.player-name{
    width: 300px;
    left: calc(50% - 300px/2);
    top: 0%;
    bottom: 74.03%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}

.player-description{
    width: 300px;
    left: calc(50% - 300px/2);
    top: 32.47%;
    bottom: 0%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    text-align: justify;
}

/*---------------- style of third section--------------*/

.third-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    background-color: #FFFFFF;

}
.highlights{
    width: 466px;
    height: 120px;
    left: 0px;
    top: 0px;
    
}
.highlights h1{
    font-weight:700; 
    font-style: normal;
    font-size:48px;
    line-height: 60px;
    
}

.highlights p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    text-align: justify;
}

.last-banner img{
    width: 567px;
    height: 427px;
}

.last-banner:hover{
    transform: scale(.5);
    transition: transform 3s ease-in-out;
}

/*---------------style of fourth section-----------------*/
.fourth-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 483.87px;
    height: 213px;
    margin-top: 50px;
}
.logo img{
    width: 483.87px;
    height: 110px;
}

.social-links{
    width: 170px;
    height: 32px;
    padding-left:180px;
    color: gray;
}
footer{
    padding-left:100px;
}
/*====================Media Quries==================*/


/*=================For Mobile Devices==================*/


@media only screen and (max-width:688px) {
    .half-of-top-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }
    .button{
        margin-bottom: 0%;
        height: 20px;
        width: 100px;
    }
    .button a{
        font-size: 10px;
    }
    .top-container-title{
        width: 400px;
        height: 270px;
        margin: 0%;
    }
    .banner img{
        width:150px;
        height: 110px;  
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .third-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 320px;
    }
    
    .highlights{
        padding-left: 130px;
    }
    .last-banner img {
        max-width: 100%;
      }
    
}
/*===============For Tablet devices=================*/

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .half-of-top-container{
        display: flex;
        flex-direction:row;
        align-items: center;
        padding-left: 140px;
        
    }
    .top-container-title{
        width: 200px;
        height: 300px;
        margin-left: 0%;
    }
    .banner img{
        width:300px;
        height: 300px;
        padding-right: 10%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .third-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 320px;



        /*-----------------Styling End------------*/